{% extends 'base.html.twig' %}

{% block title %}Disease index{% endblock %}

{% block body %}
    <h1>Disease index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Prawdopodobieństwo</th>
                <th>Działania</th>
            </tr>
        </thead>
        <tbody>
        {% for disease in diseases %}
            <tr>
                <td>{{ disease.id }}</td>
                <td>{{ disease.Name }}</td>
                <td>{{ disease.Description }}</td>
                <td>{{ disease.Probability }}</td>
                <td>
                    <a href="{{ path('disease_show', {'id': disease.id}) }}" class="btn btn-dark">Pokaż</a>
                    <a href="{{ path('disease_edit', {'id': disease.id}) }}" class="btn btn-dark">Edytuj</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Nic nie znaleziono.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('disease_new') }}" class="btn btn-primary">Dodaj nowy</a>
{% endblock %}
