{% extends 'base.html.twig' %}

{% block title %}Disease{% endblock %}

{% block body %}
    <h1>Disease</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ disease.id }}</td>
            </tr>
            <tr>
                <th>Nazwa</th>
                <td>{{ disease.Name }}</td>
            </tr>
            <tr>
                <th>Opis</th>
                <td>{{ disease.Description }}</td>
            </tr>
            <tr>
                <th>Prawdopodobieństwo</th>
                <td>{{ disease.Probability }}</td>
            </tr>

            <tr>
                <th>Objawy</th>
                <td>
                    <ul>
                    {% for sympthom in disease.getRelationWithSymptoms() %}
                        <li>{{ sympthom.getName() }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('disease_index') }}" class="btn btn-primary">Powrót</a>

    <a href="{{ path('disease_edit', {'id': disease.id}) }}" class="btn btn-dark">Edytuj</a>


    {{ include('disease/_delete_form.html.twig') }}
{% endblock %}
