{% extends 'base.html.twig' %}

{% block title %}Symptoms index{% endblock %}

{% block body %}
    <h1>Symptoms index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Objaw</th>
                <th>Obszar</th>
                <th>Działania</th>
            </tr>
        </thead>
        <tbody>
        {% for symptom in symptoms %}
            <tr>
                <td>{{ symptom.id }}</td>
                <td>{{ symptom.Name }}</td>
                <td>{{ symptom.getFKArea().Name }}</td>
                <td>
                    <a href="{{ path('symptoms_show', {'id': symptom.id}) }}" class="btn btn-dark">Pokaż</a>
                    <a href="{{ path('symptoms_edit', {'id': symptom.id}) }}" class="btn btn-dark">Edytuj</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Nic nie znaleziono.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('symptoms_new') }}" class="btn btn-primary">Dodaj nowy</a>
{% endblock %}
